{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
  "rules": {
    "selector-class-pattern": [
      "^([_a-z][a-z0-9]*)((_[a-z0-9]+)|(__[a-z0-9]+))*$",
      {
        "message": "Incorrect class selector"
      }
    ]
  }
}